footer{
	 background-color:#E3E4FA;
	 margin-top:50px;
	 padding-top:20px;
	 padding-bottom:20px;
	 text-align:center;
}

#menu{
	position:relative;
	z-index:2;
}

/*account.html*/
.card{
	width:450px;
}

#pic,#chat_pic{
	width:40%;
}

#editAvatar span{
	position:relative;
	width:40%;
	left:30%
}

@media screen and (max-width: 500px){
	.card{
		width:95%;
	}
	#pic,#chat_pic{
		width:60%;
	}
	#editAvatar span{
		width:60%;
		left:20%;
	}
}

#elAcc{
	font-weight:bold;
	text-decoration:none;
}

#elAcc:hover{
	color:red;
}

/*password*/
.pass-wrapper{
	font-weight:bold;
	color:#5bc0de;
}

/*gruppi.html*/
#addButton{
	position:absolute;
	width:60px;
	height:60px;
	border-radius:30px;
	padding:0;
}

#addButton img{
	position:relative;
	top:2px;
	width:60%;
	height:60%;
}

#groupList table{
	width:100%;
	text-align:left;
	cursor:pointer;
}

.chatName{
	font-weight:bold;
}

/*messaggi.html*/

#msgbox,#groupList{
	width:100%;
	height:100px;
	background-color: #eeeeee;
	font-size: 20px;
	overflow:auto;
	text-align:center;
}

#dataMsg{
	display:none;
	position:absolute;
	background-color:#86CFCA;
	font-size: 20px;
	color:white;
	border:0px solid;
	border-radius:5px;
	padding:5px;
}

.myMsgArrow{
	width:0;
	height:0; 
	background:none;
	border-width:15px 11px 0 0;
	border-style:solid;
	border-color:#E0FFFF transparent transparent transparent;
	margin-top:-1px;
	margin-left:-1px;
}

.otherMsgArrow{
	width:0;
	height:0; 
	background:none;
	border-width:15px 0 0 11px;
	border-style:solid;
	border-color:white transparent transparent transparent;
	margin-top:-1px;
	margin-right:-1px;
}

.msg{
	display:block;
	padding:5px 5px 0px 5px;
	border-style: solid;
	border-width: 1px;
	font-size: 17px;
	word-wrap:break-word;
	margin-bottom:3px;
}

.other{
	text-align: left;
	border-radius:0px 4px 4px 4px;
	border-color: white;
	background-color: white;
}

.my{
	text-align: right;
	border-radius:4px 0px 4px 4px;
	border-color: #E0FFFF;
	background-color: #E0FFFF;
}

.msg img{
	height: auto;
	width: auto;
	max-width: 100%;
}

.sendDate{
	width:100%;
	font-size:12px;
	text-align:right;
	color: #838B91;
	margin-bottom:0px;
}

.myData{
	text-align:left;
}

.changeDay{
	background-color:#86CFCA;
	font-size: 20px;
	color:white;
	border:0px solid;
	border-radius:5px;
	padding:5px;
}

.msgNotRead{
	font-size:20px;
	color:white;
	padding:5px;
	display:block;
	background-color:#24CADC;
	border:1px solid #24CADC;
	border-radius:4px;
}

#insMsg{
	width: 100%;
	height:10%;
	background-color: white;
	font-size: 30px;
}

/*utenti online*/
#userButton{
	opacity:0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */	
	position:absolute;
	left:0px;
	top:40%;
	height:100px;
	width:20px;
	padding:0;
}

/*avatar*/
.userpic {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin:0px 5px 5px 5px;
}

/*allegati*/
.fileContainer [type=file] {
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.fileContainer {
	float: left;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.fileContainer img{
	width:100%;
	height:100%;
}

#send{
	width:50px;
	height:50px;
	border-radius:25px;
}

#send img{
	width:30px;
	height:30px;
}	
