@media screen and (min-width: 500px) and (max-width: 1024px){

	#msgbox,#groupList,#insMsg{
		width:95%;
	}
	
	#deleteGroup,#deleteAccount{
		width:60%;
		left:17%;
	}
	
	#addGroup,#infoUser{
		width:90%;
		left:5%;
		
	}
	
	#infoUser{
		position:absolute;
	}
	
	.editAccount{
		width:80%;
		padding:15px 10px 15px 10px;
	}
}
