h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: #468259;
}

form,.editAccount{
	width:400px;
	text-align:center;
	padding:15px 50px 50px 50px;
	border:1px solid #C3B9AE;
	border-radius:4px;
}

table{
	width:100%;
}

button, input[type="button"]{
	outline:none;
	cursor:pointer;
	border:1px solid #FF8F19;
	border-radius:4px;
	color:black;
	background-color:#FFAE58;
	padding:10px;
	width:100%;
	font-weight:300;
}

button:hover,input[type="button"]:hover{
	background-color:#FF8F19;
}

button:disabled,input[type="button"]:disabled{
	background-color:#FFCE78;
	border-color:#FFAF39;
	color:grey;
	cursor:default;
}

input{
	background-color:#FFF9F3;
	padding:10px 0 10px 0;
	border:1px solid #C3B9AE;
	border-radius:4px;
	width:100%;
}

span{
	font-size:20px;
	color: #838B91;
}

.menu{
	text-align:center;
	height:10%;
}

.menu_smartphone{
	display:none;
}

/* messaggi.html */

#msgbox,#groupList,#userbox{
	width:75%;
	background-color: #eeeeee;
	font-size: 30px;
	overflow:auto;
	border:1px solid #659EC7;
	border-radius:4px;
}

#groupList{
	height:90%;
}

#msgbox,#userbox{
	height:80%;
}

#userButton,#closeUserbox{
	position:absolute;
	left:2px;
	height:100px;
	width:30px;
	top:10%;
	padding:0;
}

#closeUserbox{
	display:none;
}

#userbox{
	position:absolute;
	left:2px;
	width:300px;
	top:10%;
	display:none;
}

#userbox h4{
	font-size:20px;
	padding-top:5px;
	padding-bottom:15px;
}

#dataMsg{
	display:none;
	position:absolute;
	background-color:#13CBBA;
	font-size: 20px;
	color:white;
	border:0px solid;
	border-radius:5px;
	padding:5px;
}

.msg{
	display:block;
	padding:5px 5px 0px 5px;
	border-style: solid;
	border-width: 1px;
	border-radius:4px;
	font-size: 15px;
	word-wrap:break-word;
}

.msg img{
	height: auto;
	width: auto;
	max-width: 100%;
}

.other{
	text-align: left;
	border-color: black;
	background-color: white;
}

.sendName{
	font-style:italic;
}

.sendDate{
	width:100%;
	font-size:12px;
	text-align:right;
	color: #838B91;
	position:relative;
	top:-10px;
}

.myData{
	text-align:left;
}

.changeDay{
	border:1px solid black;
	border-radius:5px;
	padding:5px;
}

#msgNotRead{
	width:98%;
}

.msgNotRead{
	font-size:20px;
	color:white;
	padding:5px;
	width:100%;
	background-color:#24CADC;
}

.my{
	text-align: right;
	border-color: #BDEDFF;
	background-color: #E0FFFF;
}

#insMsg{
	width: 75%;
	height:10%;
	background-color: white;
	font-size: 30px;
}

/*gruppi.html*/

#addButton{
	position:absolute;
	width:60px;
	height:60px;
}

#addGroup,#infoUser{
	display:none;
	background-color:#B0FFAD;
	width:80%;
	position:absolute;
	top:10%;
	left:10%;
	border:1px solid black;
	border-radius:4px; 
	max-height:600px;
}

#infoUser{
	text-align:left;
	position:fixed;
}

#infoUser #infoTable{
	overflow:auto;
}

#infoUser center{
	padding:0px 20px 20px 20px;
}

#closeButton{
	width:30px;
	height:30px;
	background-color:#E34E2E;
	color:black;
	padding:0;
	border: 1px solid #E34E2E; 
}

#closeButton:hover{
	background-color:#FF7354;
}

.sceltaButton{
	border:1px solid black;
	border-radius:2px;
	text-align:center;
	width:50%;
	cursor:pointer;
	font-size:20px;
}

.sceltaButton:hover{
	background-color:#74FF6F;
}

.choiceDiv{
	padding:30px;
}

#choiceGroup{
	padding-bottom:50px;
}

#groupContainer{
	border:1px solid black;
	border-radius:4px;
	width:100%;
	height:55%;
	overflow:auto;
}

.selGroup{
	padding:5px;
}

.selGroup:hover{
	cursor:pointer;
	background-color:white;
}

#newCheck{
	width:20px;
	cursor:pointer;
}

img{
	width:20px;
	height:20px;
}

.delGroup{
	width:30px;
	height:30px;
}

.delGroup:hover{
	width:35px;
	height:35px;
}

#deleteGroup,#deleteAccount{
	display:none;
	background-color:#B0FFAD;
	width:40%;
	position:fixed;
	top:20%;
	left:30%;
	border:1px solid black;
	border-radius:4px; 
	text-align:center;
	padding:20px;
}

/*account.html*/

.editAccount{
	width:600px;
	padding-bottom:20px;
	max-height:500px;
	overflow:auto;
}

/* superuser.html*/

.optTable{
	text-align:center;
	font-size:20px;
	color: #5F5F5F;
	cursor:pointer;
	padding-top:10px;
	padding-bottom:10px;
}

.optSel{
	background-color:#F5F5F5;
	color: #5F5F5F;
}

.optDesel{
	background-color:#5F5F5F;
	color: #F5F5F5;
}

.optDiv{
	background-color:#F5F5F5;
	width:99.7%;
	margin:-2px;
}

/*avatar*/
.userpic {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        border-radius: 30px;
}

/*allegati*/
.fileContainer [type=file] {
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.fileContainer {
	float: left;
	width:25px;
	height:25px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
