@media screen and (max-width: 500px){

	form,.editAccount{
		width:90%;
		padding:15px 10px 15px 10px;
	}
		
	.menu{
		display:none;
	}

	.menu_smartphone{
		display:block;
		height:15%;
	}
		
	#msgbox,#groupList,#insMsg{
		width:100%;
	}
	
	#msgbox{
		height:75%;	
	}
	
	#groupList{
		height:85%;
	}
	
	#deleteGroup,#deleteAccount{
		width:80%;
		left:5%;
	}
	
	#addGroup,#infoUser{
		width:98%;
		left:1%;
	}
	
	#infoUser{
		position:absolute;
	}
	
	.choiceDiv{
		padding-left:10px;
		padding-right:10px;
	}
	
	#userbox{
		width:70%;
	}
}
